.post {
    width: 50%;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}
/*change later*/
.post__image > img {
    width: 100%;
   
}
.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
post__topInfo > h3 {
    font-size: medium;
}
.post__topInfo > p {
    font-size: small;
  color: gray;
}
.post__avatar {
    margin-right: 10px;
}

.post_buttom {
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 15px 25px;
}

.post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    font-size: medium;
    padding: 15px 25px;
}
.post__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    flex: 1;
    padding: 5px;
}
.post__option > p {
    margin-left: 10px;
}

.post__option:hover{
    background-color: #f8f8f8;
    border-radius: 10px;
}
