.header {
  display: flex;
  justify-content: space-between;
  padding: 6px 30px;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header__left {
  display: flex;
  justify-content: space-evenly;
}
.header__input {
  display: flex;
  align-items: center;
  background-color: #eef5f7;
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 25px;
  border-radius: 35px;
}
.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}
.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}
/* foobar logo image */
.header__left > img {
  height: 70px;
  border-radius: 50%;
  margin-top: 15px;
}
/* search icon */
.header__input > img {
  height: 20px;
}

/* option icons  */
.header__option > img {
  height: 45px;
  padding: 0 30px;
}
/*
.header__option > .MuiSvgIcon-root {
    color: gray;
    height: 45px;

}

.hover_options > .MuiPngIcon-root {
    color: rgb(28, 87, 114);
    height: 45px;
}*/

.header__option {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
  margin-right: 10px;
  color: gray;
  cursor: pointer;
}

.header__option > img:hover {
  background-color: rgb(181, 186, 189);
  border-radius: 25%;
  padding: 5px;
  color: white;
  height: 60px;
  transition: 1s;
  border-bottom: 4px solid #24b8e1;
}
.header__info > h4 {
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
}

.header__info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: #eef5f7;
  margin-right: 10px;
  cursor: pointer;
  height: 70px;
}

.header__info > .MuiAvatar-root:hover {
  height: 90px;
  width: 90px; /* Setting width as well to maintain aspect ratio */
  border-radius: 50%; /* To make it a circle */
  background-color: rgb(145, 164, 236); /* Changing background color */
  transition: 50ms;
}

.header__info > .MuiIconButton-root:hover {
  height: 90px;
  width: 90px; /* Setting width as well to maintain aspect ratio */
  border-radius: 50%; /* To make it a circle */
  background-color: rgb(145, 164, 236); /* Changing background color */
  transition: 50ms;
}

.header__info > .MuiAvatar-root {
  height: 70px;
  width: 70px; /* Setting width as well to maintain aspect ratio */
}

.header__info > .MuiIconButton-root {
  height: 70px;
  width: 70px; /* Setting width as well to maintain aspect ratio */
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
}
.themeChanger {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}